version: "3.9"
services:
  frontend:
    build: ./frontend
    image: YOUR_DOCKERHUB_USERNAME/express-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    image: YOUR_DOCKERHUB_USERNAME/flask-backend:latest
    ports:
      - "8000:8000"
